language: ruby

services:
  - postgresql

before_script:
  - psql -U postgres -c 'CREATE DATABASE makers_bnb_test;'
  - psql -U postgres -d 'makers_bnb_test' -f db/migrations/00_create_database.sql
  - psql -U postgres -d 'makers_bnb_test' -f db/migrations/01_create_users_table.sql
  - psql -U postgres -d 'makers_bnb_test' -f db/migrations/02_create_spaces_table.sql
  - psql -U postgres -d 'makers_bnb_test' -f db/migrations/03_create_bookings_table.sql
  - psql -U postgres -d 'makers_bnb_test' -f db/migrations/04_remove_check_out.sql


script:
  - bundle exec rspec
