<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= erb :head_css %>

</head>
<body>
<%= erb :header %>
<%= erb :navbar %>
<main>
  <section class="confirmation-message">
    <br><br><br><br><br><br><br><br><br><br><h3 align="center"> Your booking request has been sent! </h3>
    <p align="center">Return to <a href="/dashboard">dashboard</a></p>
  </section>
</main>
</body>
</html>